<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<%- include('../partials/loginCheck'); %>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <%- include('../components/h1', {content: "MyChat Setup"}) %> 
    <p>Welcome to <b>MyChat</b> encrypted chat messenger</p>
    <p>Let's setup your <b>MyChat</b> account</p>
    <hr>
    <article>
      <header>
        <h2>Windows</h2>
      </header>
      <div>
        
        <button id="resetPairKey">Reset code</button>
        <form id="updatePublicLock" action=''>
          <ol>
            <li>
              <label style="width: 100%;">
                Public Key:
                <textarea name="publicLock" id="publicLock" style="width: 100%;"></textarea>
              </label>
            </li>
            <li>
              <label style="width: 100%;">
                Private Key:
                <textarea name="privateKey" id="privateKey" style="width: 100%;"></textarea>
              </label>
            </li>
          </ol>
          <input type="submit" value="Update User">
        </form>
      </div>
    </article>
  </div>
</main>

<script src="/assets/js/inc/funcs.js"></script>
<script src="/assets/js/inc/cipher.js"></script>
<script src="/assets/js/setup.js"></script>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>